<div class="categories-container">
  <div class="categories-container__first">
    <h1 class="categories-container__title">Best Sellers</h1>
    <button type="button" class="categories-container__button">Shop Now</button>
    <img src="https://cdn.shopify.com/s/files/1/0897/3929/7056/files/IMG-5.png" class="img-wrapper" title="Best Sellers" width="950" height="620" />
  </div>
  <div class="categories-container__second">
    <h1 class="categories-container__title">New Arrivals</h1>
    <button type="button" class="categories-container__button">Shop Now</button>
    <img src="https://cdn.shopify.com/s/files/1/0897/3929/7056/files/IMG-6.png" class="img-wrapper" title="New Arrivals" width="950" height="620" />
  </div>
</div>